$font-size: 62.5%; // 1rem = 10px
$color-light: #fff;
$color-dark: #212121;
$color-signal: #fab700;
$color-background-input: pink;

$color-background: $color-light;
$color-text: $color-dark;
$color-accent: $color-signal;
$color-background-inputt: $color-background-input;

$size-bezel: 0.5rem;
$size-radius: 4px;

$margin-li: 10px;

$fsize-li: 2em;

$position-li: relative;
